<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BackgroundColor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCF915021BF13F5B005A3B3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCF915161BF13F5C005A3B3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCF915211BF13F5C005A3B3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
